@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior-y: none;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
